@media (prefers-color-scheme: dark){
    body{
        color: #b1b1b3;
        background: #202023;
    }

    #settingsform {
        min-height: 250px;
        max-width: 20em;
        padding: 5px 5px 5px 5px;
    }
}